.loader-container {
  height: 40vh;
}
/* Variables */
:root {
  --green-D: #607c3c;
  --green-L: #b5e550;
}

/* Keyframes */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: var(--green-D);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: var(--green-L);
  }
  100% {
    transform: rotate(360deg);
    border-top-color: var(--green-D);
  }
}

/* Global Styles */
* {
  box-sizing: border-box;
}

/* Loader Styles */
.loader {
  position: relative;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
}

.loader div {
  height: 100%;
}

/* Loader 1 */
.loader1,
.loader1 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: var(--green-D);
  border-bottom-color: var(--green-L);
}

/* Loader 2 */
.loader2,
.loader2 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: var(--green-L);
  border-left-color: var(--green-D);
  border-right-color: var(--green-D);
}

/* Loader 3 */
.loader3,
.loader3 div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate2 3s infinite cubic-bezier(0.55, 0.38, 0.21, 0.88);
  border-top-color: var(--green-D);
  border-left-color: var(--green-L);
}

/* Loader 4 */
.loader4,
.loader4 div {
  border-radius: 50%;
  padding: 4px;
  border: 2px solid transparent;
  animation: rotate2 4s infinite linear;
  border-top-color: var(--green-D);
}
