.pay-wrapper {
  position: fixed;
  top: 15%;
  width: 100vw;
  height: 50vh;
  z-index: 12;
}
.pay-container {
  margin: 0 auto;
  width: 70vw;
  max-width: 700px;
  height: 100%;
  position: relative;
}
.pay-container::after {
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.728);
  z-index: -1;
}
.container-pay .fa {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #be29ec;
  cursor: pointer;
  font-size: 20px;
}
.pay-container .fa:hover {
  color: #d896ff;
}

.pay-container h6 {
  color: #9aa3ab;
  font-weight: 300;
  line-height: 15px;
}

.pay-container h5 {
  color: #99a1aa;
  font-weight: 300;
}

.pay-container h4 {
  font-weight: 300;
  font-size: 13px;
  color: #97a2ad;
}

.pay-container h3 {
  color: #58636a;
  font-weight: 500;
}

.container-pay {
  width: 100%;
  height: 40%;
  max-width: 636px;
  min-height: 456px;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  position: relative;
}

.left {
  background-color: #be29ec;
  width: 30%;
  height: 457px;
  border-radius: 5px 0 0 5px;
  color: white;
  float: left;
}

.info-box {
  margin: 0 auto;
}

.receipt > span {
  font-weight: 500;
  font-size: 21px;
}

.entry {
  border-bottom: 1px solid rgba(0, 128, 0, 0.285);
  height: 15%;
  overflow: hidden;
  padding-top: 15px;
}

.entry > p {
  font-weight: 300;
  font-size: 13px;
  line-height: 26px;
  margin-top: 0px !important;
  float: left;
}

.entry > i {
  margin-top: 4px;
  margin-right: 13px;
  float: left;
  color: #b4d8fc;
}

span {
  font-weight: 500;
  font-size: 16px;
}

.entry:last-child {
  border-bottom: none;
}

.right {
  background-color: #fefefe;
  width: 70%;
  height: 100%;
  float: left;
  border-radius: 0 5px 5px 0;
}

.content {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.header {
  overflow: hidden;
  border-bottom: 1px solid #d7e2e7;
  height: 50px;
}

.header > img {
  width: 100px;
  float: left;
}

.header > h4 {
  text-align: right;
  margin-top: 10px;
}
.dbl-input {
  display: flex;
}
.dbl-input input {
  width: 50%;
}
.pay-method {
  text-decoration: underline;
  color: greenyellow;
}
.pay-a {
  cursor: pointer;
}
.payment-form {
  display: grid;
  grid-template-columns: 1fr;
}
.payment-form input {
  margin: 10px 5px;
  padding: 5px 2px;
  outline: none;
  border: solid 1px gray;
  border-radius: 5px;
}
.paypal-pay-btn {
  outline: none;
  border: none;
  background-color: gold;
  padding: 7px 0px;
  border-radius: 7px;
  cursor: pointer;
}
.paypal-pay-btn:hover {
  background-color: rgb(228, 197, 15);
}

@media (max-width: 715px) {
  .Pay-container {
    display: block;
  }
  .payment-method-container {
    width: 80vw;
    margin: 0 auto;
  }
  .user-checkout-details {
    width: 50vw;
    margin: 0 auto;
  }
  .container-pay {
    width: 80vw;
    margin: 0 auto;
  }
  .pay-container {
    width: 100vw;
  }
}
@media (max-width: 560px) {
  .container-pay {
    width: 90vw;
    margin-left: 0%;
  }
}
@media (max-width: 500px) {
  .container-pay {
    width: 95vw;
    margin: 0% 0px 0px -1%;
  }
  .content {
    margin: 50px 5px;
  }
  .content input {
    width: unset;
  }
  .dbl-input {
    display: block;
  }
  .dbl-input input {
    width: 97%;
  }
  .right {
    overflow-y: scroll;
  }
}
